.noprint { display: none;
             visibility: hidden; 
         }

.rodape      { color: #FFFFFF; background-color: #006666; border-left: 1px solid #99cccc; 
               border-right: 1px solid #003333; border-top: 1px solid #99cccc; 
               border-bottom: 1px solid #003333;  }

.status      { color: #000000; background-color: #CCCCCC; border-left: 1px solid #FFFFFF; 
               border-right: 1px solid #000000; border-top: 1px solid #FFFFFF; 
               border-bottom: 1px solid #000000;  }
.item_menu   { color: #800000; background-color: #99CCCC; font-family: verdana, arial; 
               font-size: 8pt;  border-top: 1px solid #FFFFFF; border-left: 1px solid #99CCCC; 
               border-bottom: 1px solid #006633; border-right: 1px solid #99CCCC; padding-left: 7pt; 
               padding-right: 3pt; padding-top: 3pt; padding-bottom: 3pt }

A.menu 	  { text-decoration : none; color: #800000 }

               
.table_header { color: #FFFFFF; background-color: #006666; font-family: Verdana, Arial; 
               font-size: 8pt; text-align: Center; font-weight: bold; 
               border-left: 1px solid #84D3E7; border-right: 1px solid #06161A; 
               border-top: 1px solid #84D3E7; border-bottom: 1px solid #06161A;  }
.item_menu_selected   { color: #000000; background-color: #FFFFFF; font-family: verdana, arial; 
               font-size: 8pt; border-left: 1px solid #FFFFFF; border-right: 1px solid #FFFFF; 
               border-top: 1px solid #FFFFFF; border-bottom: 1px solid #6699CC; 
               padding-left:7pt; padding-right:3pt; padding-top:3pt; padding-bottom:3pt }
.item_menu_over { color: #000000; background-color: #CCCCCC; border-left: 1px solid #000000; 
               font-size: 8pt; border-right: 1px solid #FFFFFF; border-top: 1px solid #000000; 
               border-bottom: 1px solid #FFFFFF; padding-left: 8pt; 
               padding-right: 2pt; padding-top: 4pt; padding-bottom: 2pt }
.linkmenu
{
    COLOR: white;
    FONT-FAMILY: Verdana, Arial;
    FONT-SIZE: 8pt;
    TEXT-DECORATION: none
}
.texto
{
    FONT-FAMILY: Verdana, Arial;
    FONT-SIZE: 8pt
}
TD, TR
{
    FONT-FAMILY: Verdana, Arial;
    FONT-SIZE: 8pt
}

body         { 
	background-color: #FFFFFF;
 }

.Tartigo
{
    FONT-FAMILY: Verdana, Arial;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: bold
}
.STartigo
{
    FONT-FAMILY: Verdana, Arial;
    FONT-SIZE: 10pt
}
.Tclass
{
    FONT-FAMILY: Verdana, Arial;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: bold
}
.Tpagina
{
    COLOR: #ff5b0d;
    FONT-FAMILY: Verdana, Arial;
    FONT-SIZE: 12pt
}
.Trubrica
{
    FONT-FAMILY: Verdana, Arial;
    FONT-SIZE: 8pt;
    FONT-WEIGHT: bolder
}
.TtopoPag    { color: #006666; font-family: Verdana, Arial; font-size: 5mm; font-weight: bold }
.Tdestaq
{
    COLOR: #666666;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: bolder
}
.botao
{
    BACKGROUND-COLOR: #ff5b0d;
    COLOR: #ffffff;
    FONT-FAMILY: Verdana, Arial;
    FONT-SIZE: 8pt;
    FONT-WEIGHT: bolder
}



/*-------------------------------------------------------*/
/*   Estilos a utilizar nas tabelas                      */
/*-------------------------------------------------------*/

.table_printborder	{ color: black; background-color: #FFCC99; font-family: Verdana, Arial, Helvetica; 
               		font-size: 8pt; text-align: Center; font-weight: bold;
               		border: 1px solid #800000;  }

.table_head  		{ color: black; background-color: #FFCC99; font-family: Verdana, Arial, Helvetica; 
               		font-size: 8pt; text-align: Center; font-weight: bold;
               		border: 1px solid #800000;  }

.table_topcol  	{ color: white; background-color: maroon; font-family: Verdana, Arial, Helvetica; 
               		font-size: 8pt; text-align: Center; font-weight: bold }
A.table_topcol  	{ color: white; background-color: maroon; font-family: Verdana, Arial, Helvetica; 
               		font-size: 8pt; text-decoration: none; text-align: Center; font-weight: bold }

.table_cell  		{ color: black; background-color: #FFF5EC; font-family: Verdana, Arial, Helvetica; 
               		font-size: 8pt }

.table_cell_par { color: #000000; background-color: #FFDFBF; font-family: 
               Verdana, Arial, Helvetica; font-size: 8pt; border-top: 1px solid #800000;  }

.table_cell_impar { 
						color: #000000;
						background-color: #FFFAF4; 
						font-family: Verdana, Arial, Helvetica;
						font-size: 8pt; 
						border-top: 1px solid #800000;
						}

.table_line_caption { color: #000000; background-color: #FFFAF4; font-family: 
               Verdana, Arial, Helvetica; font-size: 8pt; font-weight: bold  }

.table_line_value		{ color: #000000; background-color: #FFF5EC; font-family: 
               Verdana, Arial, Helvetica; font-size: 8pt }

.table_footer { color: #000000; background-color: #FFCC99; font-family: 
               Verdana, Arial, Helvetica; font-size: 7pt; text-align: Center;
               border-top: 1px solid #800000; border-bottom: 1px solid #800000;  }
/*-------------------------------------------------------*/
/*   Headings													  */
/*-------------------------------------------------------*/

h1	{ font-size: 18px; font-family: Verdana,Arial,Helvetica; color: brown; font-weight: bold }
h2	{ font-size: 16px; font-family: Verdana,Arial,Helvetica; color: brown; font-weight: bold }
h3	{ font-size: 14px; font-family: Verdana,Arial,Helvetica; color: brown; font-weight: bold }
h4	{ font-size: 13px; font-family: Verdana,Arial,Helvetica; color: brown; font-weight: bold }


P.quebrapagina
{
    PAGE-BREAK-BEFORE: always
}

@page {
  size: A4;
  margin: 25mm 25mm 25mm 25mm;

}
tfoot td {
	height: 90px;
}

div.divFooter {
    position: fixed;
    bottom: 0;
	background-color: #FFF;
	left: 0px;
	
  }

table.print-ready {
    border-collapse: collapse;
}

table.print-ready td{
	border: 1px solid #666666
	
}

table.print-ready tfoot  td,table.print-ready tfoot tr{
	border: 1px solid #FFF;
}

td { border:2px solid lightgrey;}

#template_menu
{
	width:300px;
}